<%= simple_form_for(@restaurant) do |f| %>
  <% if @restaurant.errors.any? %>
    <div class="errors-container">
      <ul>
        <% @restaurant.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

<%= f.label :add_a_Restaurant, class: "text-" %>

<div class="text-danger">  <%= f.text_field :name%></div>

  <%= f.submit "add a restaurant", class: "btn btn-primary" %>


<% end %>
